html, body {
      	height: 100%;
        margin: 0;
        padding: 0;
      }


#map {
        height: 100%;
        
      }

.map-container {
  height: 100vh;
  padding: 0;
  width: 70%;
  
}

.container {
	width: 100%;
	padding: 0;
  height: 100%;
}

.sidebar {
	background: #ddd;
	width: 30%;
	border-right: groove black 1px;
  height: 100%;
}

.searchbar {
  text-align: center;
  width: 100%;
}

.search {
  margin-top: 40px;
}

.search ul {
  padding-left: 0;
}

.listItems {
  margin-top: 40px;
}

li {
  list-style-type: none;
  padding: 1em;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

/*mobiles*/
@media screen and (max-width: 480px) {
  
  li {
    font-size: 11px;
  }
  h2 {
    font-size: 15px;
    font-weight: bolder;
  }
  
}

